<div class="container mt-5" *ngIf="isReady">
    <div class="level has-text-centered-mobile">
        <div class="level-left">
            <h1 class="title is-3">Game: {{ getGameName() }}</h1>
        </div>
        <div class="level-right">
            <h1 class="title is-3">Turn: {{ getPlayerTurnLabel() }}</h1>
        </div>
    </div>
    <div class="level box has-text-centered-mobile">
        <div class="level-item is-size-4 is-gray is-hidden-mobile" [ngClass]="{ 'is-higlighted': getPhase() == 'Setup' }">
            Setup Phase
        </div>

        <div class="level-item is-size-4 is-gray is-hidden-mobile" [ngClass]="{ 'is-higlighted': getPhase() == 'Dmg' }">
            Damage Phase
        </div>

        <div class="level-item is-size-4 is-gray is-hidden-mobile" [ngClass]="{ 'is-higlighted': getPhase() == 'Triggers' }">
            Triggers phase
        </div>

        <div class="level-item is-size-4 is-gray is-hidden-mobile" [ngClass]="{ 'is-higlighted': getPhase() == 'Main' }">
            Main Phase
        </div>

        <div class="level-item is-size-4 is-gray is-hidden-mobile" [ngClass]="{ 'is-higlighted': getPhase() == 'End' }">
            End Phase
        </div>
    </div>

    <div class="columns">
        <div class="column is-half has-text-centered">
            <app-canvas [wrapper]="wrapper"></app-canvas>
        </div>
        <div class="column is-half ">
            <app-phase-setup class="stretch" *ngIf="getPhase() == 'Setup'"></app-phase-setup>
            <app-phase-dmg class="stretch" *ngIf="getPhase() == 'Dmg'"></app-phase-dmg>
            <app-phase-triggers class="stretch" *ngIf="getPhase() == 'Triggers'"></app-phase-triggers>
            <app-phase-main class="stretch" *ngIf="getPhase() == 'Main'"></app-phase-main>
            <app-phase-end class="stretch" *ngIf="getPhase() == 'End'"></app-phase-end>
        </div>
    </div>
</div>