<div class="box" *ngIf="wrapper && wrapper.canvasState && !wrapper.canvasState.tileId">
    <div *ngIf="playerTurn == 'First'">
        <div class="columns">
            <div class="column">
                <app-tile-card [wrapper]="wrapper" [key]="'TechRoad'"></app-tile-card>
                <app-tile-card [wrapper]="wrapper" [key]="'TechWall1'"></app-tile-card>
                <app-tile-card [wrapper]="wrapper" [key]="'TechMarket'"></app-tile-card>
                <app-tile-card [wrapper]="wrapper" [key]="'TechNuke'"></app-tile-card>

            </div>
            <div class="column">
                <app-tile-card [wrapper]="wrapper" [key]="'TechMine1'"></app-tile-card>
                <app-tile-card [wrapper]="wrapper" [key]="'TechMine2'"></app-tile-card>
                <app-tile-card [wrapper]="wrapper" [key]="'TechRefinery1'"></app-tile-card>
                <app-tile-card [wrapper]="wrapper" [key]="'TechRefinery2'"></app-tile-card>
            </div>
            
            <div class="column">
                <app-tile-card [wrapper]="wrapper" [key]="'TechTurret1'"></app-tile-card>
                <app-tile-card [wrapper]="wrapper" [key]="'TechTurret2'"></app-tile-card>
                <app-tile-card [wrapper]="wrapper" [key]="'TechArtillery1'"></app-tile-card>
                <app-tile-card [wrapper]="wrapper" [key]="'TechArtillery2'"></app-tile-card>
            </div>

        </div>
    </div>
    <div *ngIf="playerTurn == 'Second'">
        <div class="columns">
            <div class="column">
                <app-tile-card [wrapper]="wrapper" [key]="'BugSoldierLV1'"></app-tile-card>
                <app-tile-card [wrapper]="wrapper" [key]="'BugSoldierLV2'"></app-tile-card>
                <app-tile-card [wrapper]="wrapper" [key]="'BugSoldierLV3'"></app-tile-card>
            </div>
            <div class="column">
                <app-tile-card [wrapper]="wrapper" [key]="'BugEliteMelee'"></app-tile-card>
                <app-tile-card [wrapper]="wrapper" [key]="'BugEliteRanged'"></app-tile-card>
            </div>
        </div>
    </div>
</div>

<div class="box" *ngIf="wrapper && wrapper.canvasState && wrapper.canvasState.tileId">
    <h1 class="title is-3">Acivate ability/Upgrade of the tile:</h1>

    <div *ngIf="!getTileActiveCost(wrapper.canvasState.tileId).length">
        Nothing to activate
    </div>

    <div *ngIf="getTileActiveCost(wrapper.canvasState.tileId).length">
        <div class="box resource-box mt-2" *ngFor="let resources of getTileActiveCost(wrapper.canvasState.tileId)">
            <span *ngFor="let res of resources">
                <img *ngIf="res == 'Egg'" class="resource-image" src="assets/bug/egg-eye.png" alt="Egg">
                <img *ngIf="res == 'Corpse'" class="resource-image" src="assets/bug/alien-bug.png" alt="Giant Egg">
                <img *ngIf="res == 'GiantEgg'" class="resource-image" src="assets/bug/alien-bug.png" alt="Giant Egg">
                <img *ngIf="res == 'Gold'" class="resource-image" src="assets/tech/stone-pile.png" alt="Giant Egg">
                <img *ngIf="res == 'Metal'" class="resource-image" src="assets/tech/metal-bar.png" alt="Giant Egg">
            </span>
        </div>
    </div>

    
</div>